<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Success!</title>
    
</head>

<body>
    <h1>Your payment was successful</h1>
  <script src="https://js.stripe.com/v3/">
</body>

</html>